
<link rel="stylesheet" href="/css/home.css">
<ul>
    <li><a href="/about/">about</a></li>
    <li><a href="/contact/">contact</a></li>
    <li><a href="/about/"></a></li>
</ul>

<h1><%=title%> page here</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Aliquid saepe distinctio recusandae nobis exercitationem nesciunt 
    iste culpa quibusdam ducimus repellendus et aut asperiores, 
    vero sapiente nam corrupti cupiditate, iusto ipsa?</p>